# IDE
.idea/

# Python
__pycache__/
*.pyc

# Lokalne dane i konfiguracja
.env
wine/

# LaTeX - pliki pomocnicze
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.synctex.gz
*.fdb_latexmk
*.fls
texput.log

# Foldery pomocnicze
out/